body {
	border-top: 2px solid #A6E22E;
	color: #000	;
	background-color: #272822;
	font-family: 'IBM Plex Mono', monospace;
}

	.navbar-black {
		padding: 20px 0;
		margin-bottom: 0;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
	}

    .navbar-nav {
        margin-top: 5px;
    }

    .navbar-header {
    	margin-top: 3px;
    }

	.navbar-brand>span {
		height: 55px;
		width: 206px;
		font-weight: 900;
		font-size: 26px;
	}

	.navbar-brand {
		padding: 13.5px 15px 0;
	}

	.nm1 {
		color: #FFF;
	}

	.nm2 {
		color: #A6E22E;
	}
	/* Botão menu xs */
	.navbar-header button {
		border: 1px solid #FFF;
	}

	.icon-bar {
		background: #FFF;
	}
	/* Itens menu */
	.navbar-nav>li>a {
		color: #FFF;
		background-color: transparent;
		transition: color 0.4s;
		-webkit-transition: color 0.4s;
		-moz-transition: color 0.4s;
	}

	.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
		color: #A6E22E;
		background-color: transparent;
	}

	.navbar-nav>li>a:active {
		color: #A6E22E;
		background-color: transparent;
	}

	.navbar-nav>li>a>img {
		max-height: 20px;
	}

	.banner-section {
		height: 200px;
		background: url('header-bg.jpg') no-repeat;
		background-size: cover;
		background-position: center;
	}

	.banner-section span {
		margin: 0 auto;
		display: block;
		width: 200px;
		height: 200px;
		color: transparent;
		background-image: url('me2.jpg');
		background-position: center;
		background-size: cover;
		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		position: relative;
		bottom: -100px;

	}

	.sobre-section {
		padding: 100px 0 30px 0;
		background: #ECECEC;
	}

	.sobre-section h2 {
		text-align: center;
	}

	.sobre-section h3 {
		font-size: 22px;
	}

	.sobre-section .sobre-content {
		margin-top: 20px;
	}

	.cinto-section {
		background-color: #000;
		color: #A6E22E;
		padding: 30px 0;
	}

	.gun-text {
		margin: 20px 0;
	}

	.cinto-section h2 {
		text-align: center;
	}

	.cinto-section .gun-text {
		font-style: italic;
	}

	.cinto-content h3 {
		text-align: center;
		font-size: 17px;
		text-transform: uppercase;
		color: #66D9EF;
		font-weight: 900;
	}

	.cinto-content h4 {
		text-align: center;
		font-size: 16px;
		color: #F92672;
	}

	.cinto-content {
		margin-top: 20px;
		background-color: #272822;
		padding-bottom: 10px;
	}

	footer {
		padding: 30px 0 10px 0;
	}

@media screen and (max-width: 991px) {
	.cinto-content h3 {
		font-size: 15px;
	}

	.cinto-content h4 {
		font-size: 14px;
	}
}

